
body{
  background-color: rgb(212, 220, 220);
}
.text,.time{
  background: transparent;
}

.time{
  border: 1px dotted ;
  border-left: 0;
  
  
}


.saveButton{
  background-color: green;
}


.past{
  background-color: rgb(239, 87, 11);
  color: white;
}

.present{
  background-color: rgb(6, 189, 49);
  color: white;
}
.future{
  background-color: rgb(194, 228, 23);
  color: white;
}
