
body{
  background-color: rgb(212, 220, 220);
}
.text,.time{
  background: transparent;
}

.time{
  border: 1px dotted ;
  border-left: 0;
  
  
}


.saveButton{
  background-color: green;
}


.past{
  background-color: blueviolet;
  color: white;
}

.present{
  background-color: rgb(65, 90, 82);
  color: white;
}
.future{
  background-color: darkgrey;
  color: white;
}
